<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>OmSticker</vendor>
  <vendor_url>https://omarchy.org</vendor_url>
  <action id="org.omarchy.omsticker.flash">
    <description>Write an Omarchy USB stick</description>
    <message>Authentication is required to create a bootable Omarchy USB stick</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/omsticker/omsticker-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">flash</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
